<div class="session-div">
  <div class="session-div--image">
    <%= link_to root_path do %>
      <%= image_tag 'food-and-restaurant.svg', class:"logo-icon" %>
      <span class="logo title">Cooki</span>
    <% end %>
    <section>
      <div class="skewed"></div>
    </section>
  </div>
  <div class="session-div--login">
    <h2>Do you want to signup ?</h2>
    <div class="session-div--login--form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class:"main-button link-nav" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
