<div class="navbar-app">
  <%= link_to root_path do %>
    <div id="navbar-icon-section">
      <%= image_tag 'food-and-restaurant.svg', class:"logo-icon-navbar" %>
      <span class="logo-navbar title">Cooki</span>
    </div>
  <% end %>
  <div class="log-avatar" id="navigation-avatar">
    <% if current_user.profil.photo.attached? %>
      <%= cl_image_tag current_user.profil.photo.key, class:"avatar-large" %>
    <% else %>
      <%= image_tag "#{current_user.profil.photo_placeholder}.svg", class:"avatar-large" %>
    <% end %>
    <p id="name-navbar"><%= current_user.profil.full_name %></p>
    <i class="fas fa-caret-down"></i>
    <div class="backdrop"></div>
    <div class="modal-navigation-bg">
      <div class="modal-navigation">
      <%= link_to destroy_user_session_path, method: 'delete' do %>
        <p>Log out <i class="fas fa-sign-out-alt"></i></p>
      <% end %>
      <%= link_to '#' do %>
        <p>My profil <i class="fas fa-user-alt"></i></p>
      <% end %>
      </div>
    </div>
  </div>
</div>
