<div id="onboarding-container">
  <div id="onboarding-container--description">
    <h1 class="title rainbow-label">Welcome Onboard !</h1>
    <h2>I'm really glad you take part of our beautiful family of Birthday forgotter !</h2>
    <h3>I will just ask you few question about you and we will add your first friend just after that !</h3>
    <button class="link-nav rainbow-button" id="button-onboarding-display">Let's go</button>
  </div>
  <div class="onboarding-container--form">
  <%= simple_form_for @profil, url: profils_path, autocomplete: "off", method: 'post' do |f| %>
    <div class="form--name">
      <%= f.input :first_name, autocomplete: "off", label: "What's your little name ?" %>
      <%= f.input :last_name, label: "What's your last name ?" %>
      <%= f.input :gender, label: "What is your gender ?", collection: ["male", "female", "animal", "other"] %>
    </div>
    <div class="form--other">
      <%= f.input :birthday_date, required: true, as: 'date', start_year: Date.today.year - 90, end_year: Date.today.year, order: [:day, :month, :year], label: "What's your birthday ?", label_html: { id:"birthday-date-section"}%>
      <div class="form--other--uploadpp">
        <p>Do you want a cool profil picture ?<br> Just upload it ! (or we will generate one for you)</p>
        <%= f.file_field :photo, required: false, name: 'photo'%>
      </div>
    </div>
    <%= f.button :submit, "Go to next step", class:"link-nav rainbow-button", id:'button-submit-form-onboarding'%>
  <% end %>
  </div>
</div>
